  body {
    /*font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: "CiscoSans";
    color: #777;
    background-image: url('../img/offwhite.jpg');
  }
  p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
  .person:hover {
    border-color: #f1f1f1;
  }

  .bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  
  .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .navbar {
    font-family: sans-serif;
    font-style: bold;
    margin-top: 0px;
    /*background-color: #0085be;*/
    background-color: #2B85E7;
    /*background-color:#e8b48e;*/
    border: 0;
    font-size: 13px;
    letter-spacing: 2px;
    /*opacity: 0.9;*/
    border-radius: 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }

  .navbar li a, .navbar { 
    font-family: sans-serif;
    color: white !important;
  }
  
  .navbar-brand { 
    font-family: 'Bauhaus 93';
    letter-spacing: 1px;
    color: white !important;
    font-size: 20px;
    /*font-style: bold;*/
  }

  .navbar-nav li a:hover {
    color: lightgrey !important;
  }
  .navbar-nav li.active a {
    color: white !important;
    background-color: #29292c !important;
  }
  .navbar-default {
    border-color: transparent;
  }

  .icon-bar {
    border-radius: 10px;
    background-color: white !important;
  }

  .open .dropdown-toggle {
    color: #fff;
    background-color: #2B85E7 !important;
  }

  .dropdown-menu {
    background-color: white !important;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    text-align: right;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }

  .dropdown-menu li a {
    color: #2B85E7 !important;
  }
  .dropdown-menu li a:hover {
    background-color: #2B85E7 !important;
  }

  /* Login related CSS */
  #login-col-sm-4-2, #signup-col-sm-4-2 {
     background-color: #f1f3f3;
     border-radius: 30px;
     padding-bottom: 20px;
     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }

  .form-control {
    border-radius: 50px;
  }

  .btn {
    background-color: #2B85E7;
    color:white;
    margin-top: 40px;
    margin-bottom: 10px;
    border: 1px solid #2B85E7;
    border-radius: 30px;
    width: 150px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
  }

  .btn:hover {
    background-color: white;
    color:#2B85E7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
  }

  #forgot-password {
    font-size: 12px;
    color:#2B85E7;
    margin-left: 3px;
  }

  .blogs-listing {
    color: darkgrey;
  }

  #blogs-list, #single-blog , #search-results-list{
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
    /*background-color: #f1f1f1;*/
    border-radius: 10px; 
    padding-bottom: 20px;
  }

  #most-liked-blogs-blog-list, #most-liked-blogs-single-blog {
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
    /*background-color: #f1f1f1;*/
    border-radius: 10px; 
    /*padding-top: 10px;*/
    margin-right: 30px;
    float:left;
  }

  .label-primary {
    margin-left: 2px; margin-right: 2px; text-align: center; border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }

  .jumbotron {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 30px;
    /*background-color: rgb(34,177,96);*/
    /*background-color: rgb(0,162,232);*/
    background-image: url('../img/main5.jpg');
    background-size: 100% 100%;
    /*background-image: url('../img/news-banner.png');*/
    color: white;

    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    
    /* Good 1*/
    
   /* opacity: 1;
    background-color: rgb(146, 141, 171);
    background-image: linear-gradient(to left, rgb(34,177,96), rgb(146, 141, 171));
    */

    /* Good 2*/
  /*  
    opacity: 1;
    background-color: rgb(211, 157, 56);
    background-image: linear-gradient(to left, rgb(77, 160, 176), rgb(211, 157, 56));
    
*/
     /* Good 3 */
    
    /*opacity: 1;
    background-color: rgb(100, 179, 244);
    background-image: linear-gradient(to left, rgb(194, 229, 156), rgb(100, 179, 244));
    */
  }

  /* Footer */

   .footer {
    bottom:0px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; 
    background-color: #2B85E7; 
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }