  <!-- Login Panel -->
  <div id="login-section" class="container-fluid" style= "padding-top: 80px;">
    <div id="login-col-sm-4-1" class="col-sm-4"></div>
    <div id="login-col-sm-4-2" class="col-sm-4">
    <h3 style="color: #2B85E7; text-align:center; font-family: 'Bauhaus 93';">LOGIN</h3>
      <form name="login-form" ng-submit="lc.login()" role="form" novalidate>
        <fieldset>
          <div class="imgcontainer" style="text-align: center; margin: 14px 0 6px 0;">
            <i class="glyphicon glyphicon-user" style="color: orange; font-size: 30px; border: 1px; border-radius: 50%; border-color: blue;"></i>
          </div>
          <div class="form-group">
            <label for="useremail" style="font-size: 13px; padding-left: 10px;">Email</label>
            <input type="email" name="email" placeholder="someone@domain.com" id="email" class="form-control" ng-model="lc.user.email" required />
          </div>
          <br>
          <div class="form-group">
            <label for="userpassword" style="font-size: 13px; padding-left: 10px;">Password</label>
            <input type="password" name="password" placeholder="******" id="password" title="Password needs atleast (6) characters" class="form-control" ng-model="lc.user.password" required />
          </div>
          <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || lc.dataLoading" class="btn btn-primary" style="padding-left: 20px;">Login  <span class="glyphicon glyphicon-log-in"></span></button>
            <img ng-if="lc.dataLoading" src="./img/loading.gif" style="display: inline-block;">
            <a href="#signupForm" class="btn btn-link pull-right">Signup</a>

            <!-- Error label for wrong credentials-->
            <label for="error" style="font-size: 13px; padding-left: 10px; color: red; text-align: center;">{{loginError}}</label>
          </div>
        </fieldset>

      </form>
    </div>
    <div id="login-col-sm-4-3" class="col-sm-4"></div>
  </div>
